remote_type=sftp
remote_name=my_remote
host=<Remote host>
port=<Remote port>
user=<Remote user>
key_file=/my/key/file/path

remote_path=backup
local_path=/backups
backup_dir=/backups/archive/$(date +%Y-%m-%d)
extra_rclone_args=<Extra args>
exclude="*.tmp"
bwlimit=5M
suffix=.backup
dry_run=true

mount_device/dev/disk/by-id...
mountpoint=/mountpoint